<div class="page-title">
  <div class="title_left">
    <h3>Payment Methods</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="buttons-row">
          <a href="<%= new_payment_method_path %>" class="btn btn-success">New Payment Method <i class="fa fa-plus"></i></a>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Bank</th>
              <th>Last Four Digits</th>
              <th>Number of Transactions</th>
              <th>Date Added</th>
              <th>Actions</th>
            </tr>
          </thead>
          
          <% @payment_methods.each do |pm| %>
            <tr>
              <!-- ID -->
              <td><%= pm.id %></td>

              <!-- Type -->
              <td><%= pm.payment_type %></td>
              
              <!-- Bank -->
              <td><%= pm.bank %></td>

              <!-- Last 4 Digits -->
              <td><%= ("xx" + pm.last_four_digits) if pm.last_four_digits.present? %></td>

              <!-- Number of Transactions -->
              <td><%= pm.transactions.count %></td>

              <!-- Date Added -->
              <td><%= format_date_with_time(pm.created_at) %></td>
              
              <!-- Actions -->
              <td>
                <div class="btn-group">
                  <%= link_to "View", payment_method_path(pm), class: 'btn btn-info' %>
                  <%= link_to "Edit", edit_payment_method_path(pm), class: 'btn btn-warning' %>
                  <%= link_to "Delete", payment_method_path(pm), class: 'btn btn-danger', method: 'delete', data: { confirm: "Are you sure you want to delete this?"} %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
  