<div class="inner cover">
  <h1>Sign Up</h1>
  <%= form_tag sessions_path, { class: '' } do %>
    <div class="form-group">
      <%= label_tag :first_name, nil, class: "" %>
      <%= text_field_tag :first_name, nil, class: "form-control", placeholder: "First Name" %>
    </div>
    <div class="form-group">
        <%= label_tag :last_name, nil, class: "" %>
        <%= text_field_tag :last_name, nil, class: "form-control", placeholder: "Last Name" %>
      </div>
    <div class="form-group">
      <%= label_tag :email, nil, class: "" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class: "" %>
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="form-group">
        <%= label_tag :confirm_password, nil, class: "" %>
        <%= password_field_tag :confirm_password, nil, class: "form-control", placeholder: "Confirm Password" %>
      </div>
    <%= submit_tag "Sign Up", class: "btn btn-primary form-button" %>
  <% end %>
</div>