<div class="page-title">
  <div class="title_left">
    <h3>Transactions</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="buttons-row">
          <a href="<%= new_transaction_path %>" class="btn btn-success">New Transaction <i class="fa fa-plus"></i></a>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Location</th>
              <th>Description</th>
              <th>Category</th>
            </tr>
          </thead>
          
          <% @transactions.each do |t| %>
            <tr>
              <!-- ID -->
              <td><%= t.id %></td>

              <!-- Date -->
              <td><%= t.date %></td>

              <!-- Name -->
              <td><%= link_to t.name, transaction_path(t) %></td>

              <!-- Amount -->
              <td class="<%= t.is_expense ? 'text-danger' : 'text-success'%>"><%= "$#{t.amount}" %></td>

              <!-- Location -->
              <td><%= t.location %></td>

              <!-- Description -->
              <td><%= t.description %></td>

              <!-- Category -->
              <td><%= t.category %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
