<!-- left nav -->
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="<%= dashboard_path %>" class="site_title"><i class="fa fa-money"></i> <span>Pocket Trackr</span></a>
    </div>
    
    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="<%= @avatar_url %>" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><%= "#{current_user.first_name} #{current_user.last_name}"%></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <!-- Home -->
          <li><a href="<%= dashboard_path %>"><i class="fa fa-home"></i> Home</span></a></li>

          <!-- All Transaction -->

          <li><a><i class="fa fa-list"></i> Transactions <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><%= link_to "View Transactions", transactions_path %></li>
                <li><%= link_to "Add Transaction +", new_transaction_path %></li>
            </ul>
          </li>
          
          <!-- Expenses -->
          <!-- <li><a><i class="fa fa-minus-square"></i> Expenses <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a>View Expenses</a></li>
              <li><a>Add Expense <i class="fa fa-plus"></i></a></li>
            </ul>
          </li> -->

          <!-- Income -->
          <!-- <li><a><i class="fa fa-plus-square"></i> Income <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a>View Income</a></li>
              <li><a>Add Income <i class="fa fa-plus"></i></a></li>
            </ul>
          </li> -->

          <!-- Payment Methods -->
          <li><a><i class="fa fa-credit-card"></i> Payment Methods <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to "View Payment Methods", payment_methods_path %></li>
              <li><%= link_to "Add Payment Method +", new_payment_method_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>   
</div>