<!DOCTYPE html>
<html>
  <head>
    <title>PocketTrackr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- Left Nav -->
        <%= render 'layouts/sidebar' %>

        <!-- Header -->
        <%= render "layouts/header" %>

        <!-- Flash Messages -->
        <%# render 'layouts/flash' %>

        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 825px;">
          <div>
            <%= yield %>
          </div>
        </div>
        <!-- / page content -->

        <!-- footer content -->
        <%= render "layouts/footer"%>
      </div>
    </div>
  </body>
</html>
